{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Books {% endblock %}</h1>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>User Name</th>
            <th>PR List</th>
            <th>No. of PRs</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>User Name</th>
            <th>PR List</th>
            <th>No. of PRs</th>
        </tr>
    </tfoot>
</table>

{% block javascript %}

<script>


    data = {{data | tojson }}
    console.log(data)

    $(document).ready(function () {
        $('#example').DataTable({
            order: [[2, 'desc']],
            "pageLength": 150,
            data: data,
             columns: [
                { data: 'name' },
                { data: 'prs[,]' },
                { data: 'nodes' },
            ],
            
        });
    });
</script>
{% endblock %}

{% endblock %}